@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: rgba(0, 0,0,0.2) rgba(0, 0,0,0.1);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(0, 0,0,0.05);
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0,0,0.2);
    border: none !important;
  }