@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: rgba(0, 0,0,0.2) rgba(0, 0,0,0.1);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(0, 0,0,0.1);
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0,0,0.2);
    border: none !important;
  }